/* Global Styles */
html {
    font-size: 16px;
    padding: 0;
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

body{
    padding: 0;
    margin: 0;
}

/* Header */
header {
    background-color: white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0;
    height: 5rem;
    align-items: center;
    justify-items: center;
}

header h1 {
    grid-column: 2;
    grid-row: 1;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #41cc78;
}

header h1 span {
    color: #41cc78;
}

header .nav1 {
    grid-column: 1;
    grid-row: 1;
}

header .nav2 {
    grid-column: 3;
    grid-row: 1;
}

header ul {
    list-style-type: none;
    padding: 0;
}

header ul li {
    display: inline;
}

header ul li {
    display: inline;
}

header a {
    text-decoration: none;
    color: #349c9d;
}

header ul a {
    text-decoration: none;
    color: #41cc78;
    padding: 1rem;
    font-size: 1rem;
}

header ul a:hover {
    color: #349c9d;
}

/* Banner */
.banner-image {
    background-image: url(./Assets/Images/storefront-1.jpg);
    height: 30rem;
    background-repeat: no-repeat;
    background-size: cover;
}

/* About Us Section */
.about-us {
    border: .5rem solid #349c9d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: 2rem auto 2rem auto;
}

.about-us p {
    width: 75%;
    color: black;
    text-align: justify;
}

.about-us h4 {
    text-align: right;
    width: 65%;
    margin: 0 0 1rem 0;
}

.about-us h4 span {
    font-size: .75rem;
}

/* Our Products Section */
.our-products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3rem 30rem;
    align-items: center;
    background-color:#349c9d;
    justify-content: center;
}

.our-products-container h2 {
    grid-row: 1;
    grid-column: 1/3;
    text-align: center;
    margin: 0;
}

.our-products {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-products ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.our-products ul li {
    padding-left: 1rem;
    text-indent: -1rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.our-products ul li:nth-child(4n+1)::before {
    content: "\1F331";
    margin-right: 1rem;
}

.our-products ul li:nth-child(4n+2)::before {
    content: "\1F48A";
    margin-right: 1rem;
}

.our-products ul li:nth-child(4n+3)::before {
    content: "\1F4AA";
    margin-right: 1rem;
}

.our-products ul li:nth-child(4n+4)::before {
    content: "\1F375";
    margin-right: 1rem;
}
.mySlides {
    display: none
}
img {
    vertical-align: middle;
    width: 100%;
    height: 28rem;
  }
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}
/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
    color: #ffffff;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
/* Number text (1/ etc) */
.numbertext {
    color: #ffffff;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #999999;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active,
.dot:hover {
    background-color: #111111;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
}
@keyframes fade {
    from {
      opacity: .4
    }
    to {
      opacity: 1
    }
}

/* Location Section */
.location {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 3rem 30rem;
}

.location-banner {
    display: flex;
    grid-column: 1/3;
    grid-row: 1;
    align-items: center;
    justify-content: center;
}

.map {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.location-text {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    grid-row: 2;
    align-items: center;
    justify-content: center;
}

.location-text h3 {
    line-height: 3rem;
    border: 10px solid #349c9d;
    padding: 1rem;
}

/* Contact Section */
footer {
    background-color:#349c9d;
    height: 10rem;
    padding: 1rem;
}

footer .icons {
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.icons a:hover {
    opacity: 0.5;
}

.icons i {
    font-size: 2rem;
    color: black;
}

/* Media Queries */
@media (max-width: 1024px) {
    header {
        height: 15rem;
    }

    header h1 a {
        font-size: 3rem;
    }

    header li a {
        font-size: 2rem;
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 2rem;
    }

    .about-us {
        width: 75%;
    }

    .about-us h4{
        font-size: 2rem;
    }

    .about-us h4 span{
        font-size: 1.5rem;
    }

    .our-products-container {
        padding: 1rem;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 5rem 20rem 40rem;
    }

    .our-products-container h2 {
        grid-column: 1;
        grid-row: 1;
    }

    .our-products ul {
        margin-top: 5rem;
    }

    .our-products ul li {
        font-size: 2rem;
    }

    img {
        width: auto;
        height: 30rem;
    }

    .location {
        padding: 2rem 0 2rem 0;
    }

    .location-text h3 {
        font-size: 2rem;
        line-height: 4rem;
    }


    footer {
        height: 15rem;
    }

    footer h2 {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    footer h3 {
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 2rem;
    }

    footer .icons {
        width: 25%;
    }

    .icons i {
        font-size: 3rem;
    }

}